{% extends "layout/main.twig" %}

{% block content %}

    <div class="portfolio-detail">
        <div class="pog">
            <section class="pog-banner">
                <div class="content">
                    <div class="pog-logo">
                        <a href="#" class="logo"></a>
                    </div>

                    <div class="pog-banner__inner">
                        <div class="pog-banner__title">
                            <h1>PROOF OF GAMING</h1>
                            <h4>Мобильная игра</h4>
                        </div>

                        <div class="pog-banner__desk">
                            <p>Proof of Gaming — уникальный мир, сочетающий увлекательные приключения и инновационные возможности заработка криптовалюты!</p>
                        </div>

                        <div class="pog-banner__button">
                            <a href="#">Android mobile app</a>
                        </div>

                    </div>

                    <div class="pog-banner__sphere"></div>

                    <div class="pog-banner__info">

                        <div class="pog-banner__info--item">
                            <h5>2 130 000</h5>
                            <p>Бюджет</p>
                        </div>

                        <div class="pog-banner__info--item">
                            <h5>Ноябрь 2023</h5>
                            <p>Дата сдачи проекта</p>
                        </div>

                        <div class="pog-banner__info--item">
                            <h5>5 месяцев</h5>
                            <p>Время разработки</p>
                        </div>

                    </div>
                </div>
            </section>

            <section class="pog-video">
                <div class="content">
                    <div class="video">
                        <video id="fon" class="pog-video__item" poster="../images/video/video.png">
                            <source src="../images/video/ecohouse.mp4" type="video/mp4">
                        </video>

                        <div class="btn-play"></div>

                    </div>
                </div>
            </section>

            <section class="pog-about">
                <div class="content">
                    <div class="pog-about__content">

                        <div class="pog-about__img">
                            <picture>
                                <source srcset="/images/photo-project.webp 1x, /images/photo-project@2x.webp 2x" type="image/webp">
                                <source srcset="/images/photo-project.png 1x, /images/photo-project@2x.png 2x" type="image/png">
                                <img src="/images/photo-project.png" alt="#" loading="lazy">
                            </picture>
                        </div>

                        <div class="pog-about__text">
                            <h2>О проекте</h2>

                            <p>Я являюсь проектным менеджером и хочу рассказать вам о нашем мобильном приложении Proof of Gaming. Приложение позволяет зарабатывать криптовалюту через элементы геймификации. В этом приложении пользователи могут зарабатывать криптовалюту, играя в игры и взаимодействуя с другими участниками. Пользователи также могут приобретать предметы в магазине, обмениваться ими и участвовать в аукционах.
                            </p>

                            <p>Функциональные возможности и дизайн приложения предоставляют компании конкурентные преимущества благодаря внедрению креативных решений, уникальных элементов, дополнительных функций и удобству использования.</p>
                        </div>

                    </div>
                </div>
            </section>

            <section class="pog-description">
                <div class="content">
                    <div class="pog-description__content">
                        <div class="pog-description__text">
                            <h2>Цель проекта</h2>
                            <p>Главной целью проекта было привлечь пользователей в игру <nobr>и предоставить</nobr> возможность заработка криптовалюты.</p>
                            <p>Перед нами стояла задача реализовать многопользовательскую игру под ОС Android с геймификацией заработка криптовалюты.</p>
                        </div>

                        <div class="pog-description__img">
                            <div class="pog-description__img--elem1">
                                <picture>
                                    <source srcset="/images/sphere-2.webp 1x, /images/sphere-2@2x.webp 2x" type="image/webp">
                                    <source srcset="/images/sphere-2.png 1x, /images/sphere-2@2x.png 2x" type="image/png">
                                    <img src="/images/sphere-2.png" alt="#" loading="lazy">
                                </picture>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="pog-stages">
                <div class="content">
                    <div class="pog-stages__content">
                        <div class="pog-stages__top">
                            <div class="pog-stages__title">
                                <h2>Этапы разработки</h2>
                            </div>

                            <div class="pog-stages__img">
                                <div class="pog-description__img--elem2">
                                    <picture>
                                        <source srcset="/images/city.webp 1x, /images/city@2x.webp 2x" type="image/webp">
                                        <source srcset="/images/city.png 1x, /images/city@2x.png 2x" type="image/png">
                                        <img src="/images/city.png" alt="#" loading="lazy">
                                    </picture>
                                </div>
                            </div>
                        </div>

                        <div class="pog-stages__bottom">
                            <picture>
                                <source srcset="/images/timeline.webp 1x, /images/timeline@2x.webp 2x" type="image/webp">
                                <source srcset="/images/timeline.png 1x, /images/timeline@2x.png 2x" type="image/png">
                                <img src="/images/timeline.png" alt="#" loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pog-description pog-description__2">
                <div class="content">
                    <div class="pog-description__content">
                        <div class="pog-description__text pog-description__text--2">
                            <h2>Гиросферы</h2>
                            <p>Игра представляет собой соревновательные гонки на гиросферах, <nobr>с препятствиями</nobr> и ловушками. Игроки отсеиваются, попадая в ловушки, и к финишу приходят не все.
                                Цель — прийти к финишу первым.</p>

                        </div>

                        <div class="pog-description__img pog-description__img--2">
                            <div class="pog-description__img--elem3">
                                <picture>
                                    <source srcset="/images/sphere-3.webp 1x, /images/sphere-3@2x.webp 2x" type="image/webp">
                                    <source srcset="/images/sphere-3.png 1x, /images/sphere-3@2x.png 2x" type="image/png">
                                    <img src="/images/sphere-2.png" alt="#" loading="lazy">
                                </picture>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="pog-screen">
                <div class="content">
                    <div class="pog-screen__img">
                        <picture>
                            <source srcset="/images/screen.webp 1x, /images/screen@2x.webp 2x" type="image/webp">
                            <source srcset="/images/screen.png 1x, /images/screen@2x.png 2x" type="image/png">
                            <img src="/images/screen.png" alt="#" loading="lazy">
                        </picture>
                    </div>
                </div>
            </section>

            <section class="pog-location">
                <div class="content">
                    <div class="pog-location__content">
                        <div class="pog-location__top">
                            <h2>Основная локация игры</h2>
                            <p>Город является основной локацией игры, отправной точкой для игрока. Она выполняет функцию интерактивной карты мира, где игроки отдыхают, покупают снаряжение и общаются в игровом чате.</p>
                        </div>

                        <div class="pog-location__bottom">

                            <div class="pog-location__item">
                                <div class="pog-location__item--icon">
                                    <i class="icon-burger"></i>
                                </div>

                                <div class="pog-location__item--title">
                                    <h3>Меню</h3>
                                </div>

                                <div class="pog-location__item--desk">
                                    <p>Компактный выпадающий список иконок, обеспечивающий удобную навигацию по разделам приложения.</p>
                                </div>
                            </div>

                            <div class="pog-location__item">
                                <div class="pog-location__item--icon">
                                    <i class="icon-friends"></i>
                                </div>

                                <div class="pog-location__item--title">
                                    <h3>Друзья</h3>
                                </div>

                                <div class="pog-location__item--desk">
                                    <p>Числовое значение над кнопкой отражает количество друзей онлайн. При нажатии открывается список пользователей добавленных <nobr>в «Друзья»</nobr>.</p>
                                </div>
                            </div>

                            <div class="pog-location__item">
                                <div class="pog-location__item--icon">
                                    <i class="icon-ivent"></i>
                                </div>

                                <div class="pog-location__item--title">
                                    <h3>Инвентарь</h3>
                                </div>

                                <div class="pog-location__item--desk">
                                    <p>В этом разделе хранятся все предметы имеющиеся у игрока. Инвентарь имеет деление на «сумки», для начального уровня доступны <nobr>10 предметов</nobr> в сумке, остальные <nobr>10 необходимо</nobr> докупить за валюту.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="pog-video">
                <div class="content">
                    <div class="video">
                        <video id="fon" class="pog-video__item" poster="../images/video/poster.png">
                            <source src="../images/video/ecohouse.mp4" type="video/mp4">
                        </video>

                        <div class="btn-play"></div>

                    </div>
                </div>
            </section>

            <section class="pog-description pog-description__3">
                <div class="content">
                    <div class="pog-description__content">
                        <div class="pog-description__text">
                            <h2>Дополнительные экраны</h2>
                            <p>Эти дополнительные экраны помогают обеспечить пользователю полный спектр функций и возможностей, делая приложение более удобным и привлекательным.</p>
                        </div>

                        <div class="pog-description__img">
                            <div class="pog-description__img--elem4">
                                <picture>
                                    <source srcset="/images/light.webp 1x, /images/light@2x.webp 2x" type="image/webp">
                                    <source srcset="/images/light.png 1x, /images/light@2x.png 2x" type="image/png">
                                    <img src="/images/light.png" alt="#" loading="lazy">
                                </picture>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="pog-slider">
                <div class="content">
                    <ul class="pog-slider__list">
                        <li>
                            <picture>
                                <source srcset="/images/slider/slide-1.webp 1x, /images/slider/slide-1@2x.webp 2x" type="image/webp">
                                <source srcset="/images/slider/slide-1.png 1x, /images/slider/slide-1@2x.png 2x" type="image/png">
                                <img src="/images/slider/slide-1.png" alt="#" loading="lazy">
                            </picture>
                        </li>

                        <li>
                            <picture>
                                <source srcset="/images/slider/slide-2.webp 1x, /images/slider/slide-2@2x.webp 2x" type="image/webp">
                                <source srcset="/images/slider/slide-2.png 1x, /images/slider/slide-2@2x.png 2x" type="image/png">
                                <img src="/images/slider/slide-2.png" alt="#" loading="lazy">
                            </picture>
                        </li>

                        <li>
                            <picture>
                                <source srcset="/images/slider/slide-3.webp 1x, /images/slider/slide-3@2x.webp 2x" type="image/webp">
                                <source srcset="/images/slider/slide-3.png 1x, /images/slider/slide-3@2x.png 2x" type="image/png">
                                <img src="/images/slider/slide-3.png" alt="#" loading="lazy">
                            </picture>
                        </li>

                        <li>
                            <picture>
                                <source srcset="/images/slider/slide-4.webp 1x, /images/slider/slide-4@2x.webp 2x" type="image/webp">
                                <source srcset="/images/slider/slide-4.png 1x, /images/slider/slide-4@2x.png 2x" type="image/png">
                                <img src="/images/slider/slide-4.png" alt="#" loading="lazy">
                            </picture>
                        </li>

                        <li>
                            <picture>
                                <source srcset="/images/slider/slide-5.webp 1x, /images/slider/slide-5@2x.webp 2x" type="image/webp">
                                <source srcset="/images/slider/slide-5.png 1x, /images/slider/slide-5@2x.png 2x" type="image/png">
                                <img src="/images/slider/slide-5.png" alt="#" loading="lazy">
                            </picture>
                        </li>

                        <li>
                            <picture>
                                <source srcset="/images/slider/slide-6.webp 1x, /images/slider/slide-6@2x.webp 2x" type="image/webp">
                                <source srcset="/images/slider/slide-6.png 1x, /images/slider/slide-6@2x.png 2x" type="image/png">
                                <img src="/images/slider/slide-6.png" alt="#" loading="lazy">
                            </picture>
                        </li>
                    </ul>

                    <div class="pog-design_button">
                        <button class="pog-button-nav_prev"></button>
                        <button class="pog-button-nav_next"></button>
                    </div>
                </div>
            </section>

            <section class="pog-description pog-description__3">
                <div class="content">
                    <div class="pog-description__content">
                        <div class="pog-description__text">
                            <h2>Графика</h2>
                            <p>Наша команда всегда готовит несколько вариантов графических элемнтов для того, чтобы заказчик мог выбрать понравившийся ему вариант. Для проекта в общей сложности было разработано более 200 различных иконок и предметов.</p>
                        </div>

                        <div class="pog-description__img">
                            <div class="pog-description__img--elem5">
                                <picture>
                                    <source srcset="/images/cryg.webp 1x, /images/cryg@2x.webp 2x" type="image/webp">
                                    <source srcset="/images/cryg.png 1x, /images/cryg@2x.png 2x" type="image/png">
                                    <img src="/images/cryg.png" alt="#" loading="lazy">
                                </picture>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>


{% endblock %}