@import "../misc/bootstrap";

.pog-banner{
  position: relative;

  background-image: url("../../images/banner.png");
  background-image: image-set(
                  url("../../images/banner.webp") type("image/webp") 1x,
                  url("../../images/banner@2x.webp") type("image/webp") 2x,
                  url("../../images/banner.png") type("image/png") 1x,
                  url("../../images/banner@2x.png") type("image/png") 2x
  );

  background-repeat: no-repeat;
  background-position: center top;
  height: 788px;

  @media (max-width: 1160px){
    height: 915px;
  }

  @include media-max(lg){
    height: 845px;
  }

  @media (max-width: 800px){
    height: 755px;
  }

  @media (max-width: 772px){
    height: 875px;
  }

  @media (max-width: 470px){
    height: 900px;
  }

  @media (max-width: 400px){
    height: 965px;
  }
}

.pog-banner__inner{
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 30px 60px;
  position: relative;

  @media (max-width: 800px){
    text-align: center;
    padding: 30px 30px;
  }
}

.pog-banner__desk{
  width: 100%;
  max-width: 445px;
  margin-top: 35px;

  @media (max-width: 800px){
    margin: 25px auto 0;
  }
}

.pog-banner__button{
  margin-top: 25px;

  a{
    display: inline-block;
    font-weight: 600;
    color: white;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    padding: 10px 20px;

    &:hover{
      text-decoration: none;
    }

    @media (pointer: fine){
      &:hover{
        text-decoration: none;
        background: rgba(#000, .8);
        transition: all .2s;
      }
    }

  }
}

.pog-banner__sphere{
  background-image: url("../../images/sphere.png");
  background-image: image-set(
                  url("../../images/sphere.webp") type("image/webp") 1x,
                  url("../../images/sphere@2x.webp") type("image/webp") 2x,
                  url("../../images/sphere.png") type("image/png") 1x,
                  url("../../images/sphere@2x.png") type("image/png") 2x
  );

  background-repeat: no-repeat;
  position: absolute;
  right: 55px;
  top: 180px;
  width: 483px;
  height: 483px;

  @media (max-width: 1110px){
    top: 240px;
    width: 383px;
    height: 383px;
    background-size: contain;
  }

  @include media-max(lg){
    top: 275px;
    width: 283px;
    height: 283px;
    background-size: contain;
    right: 25px;
  }

  @media (max-width: 800px){
    display: none;
  }
}

.pog-banner__info {
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;

  @include media-max(lg){
    padding-top: 50px;
  }
}

.pog-banner__info--item{
  background: rgba(1, 1, 3, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 100%;
  max-width: 350px;

  @media (max-width: 771px){
    text-align: center;
  }
}
