@import "../misc/bootstrap";

.icon-burger{
  background-image: url("../../images/icons/burger-page.svg");
  width: 40px;
  height: 40px;
  display: block;
}

.icon-friends{
  background-image: url("../../images/icons/friends-page.svg");
  width: 40px;
  height: 40px;
  display: block;
}

.icon-ivent{
  background-image: url("../../images/icons/ivent-page.svg");
  width: 40px;
  height: 40px;
  display: block;
}

