@import "misc/bootstrap";
@import "misc/bootstrap-init";
@import "misc/button";
@import "misc/text";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	margin: 0;
	background: #010103;
}

* {
	box-sizing: border-box;
}

*, *:active, *:focus {
	outline: 0 !important;
	-moz-outline-style: none !important;
}

a[href^="tel"] {
	text-decoration: none;
	color: inherit;
	white-space: nowrap;
}

._noScroll {
	overflow: hidden;
}

@import "block/page";
@import "block/content";
@import "block/icon";
@import "block/logo";
@import "block/banner";
@import "block/video";
@import "block/about";
@import "block/description";
@import "block/stages";
@import "block/screen";
@import "block/location";
@import "block/slider";
